{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="mb-3">
        <a href="{% url 'post_create' %}">
            <input type="text" class="form-control" placeholder="新しい投稿"></input>
        </a>
    </div>

    <p>人気なタグ: 
        {% for tag in common_tags %}
            <a class="badge rounded-pill bg-iniad text-light" href="{% url 'tag_view' tag.slug %}">#{{ tag }}</a>
        {% endfor %}
    </p>

    <p class="mt-3">並ぶ替え: 
        <a class="badge bg-secondary" href="{% url 'forum' %}?order_by=latest_post">新着順</a>
        <a class="badge bg-secondary" href="{% url 'forum' %}?order_by=oldest_post">投稿順</a>
        <a class="badge bg-secondary" href="{% url 'forum' %}?order_by=most_recent_activity">最新順</a>
        <a class="badge bg-secondary" href="{% url 'forum' %}?order_by=oldest_activity">最古順</a>
        <a class="badge bg-secondary" href="{% url 'forum' %}?order_by=most_like">人気順</a>
    </p>

    {% include "forum/post_list.html" %}
</div>
{% endblock content %}