{% extends 'base/base.html' %}

{% block content %}
    <button><a href="{% url 'submit' %}">Add a post</a></button>
    {% for post in posts %}
        <h3 class="test">{{ post.title }}</h3>
        <h5>{{ posts.labels }}</h5>
        {% for label in posts.labels %}
            <h5>{{ label }}</h5>
        {% endfor %}
        <p>{{ post.created_on }}</p>
        <p>{{ post.content }}</p>
        <a href="{% url 'post_detail' post.id %}">Go to detailed post</a>
    {% endfor %}
{% endblock content %}
