<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="https://1.bp.blogspot.com/-al_xSk3GL1o/XLAdSlunhRI/AAAAAAABSXQ/3_HokhAnxAA6X-noz5UOIm88i73rclf8gCLcBGAs/s200/mark_oukan_crown9.png">
            </div>
            <div class="col-lg-7"><h1>user name</h1>
            <span>discription</span>
            </div>
        </div>     
    </div>
</body>
</html>