{% extends 'base/base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Last Updated: {{ post.updated_on }}</p>
    <p>{{ post.content }}</p>

    <a href="{% url 'post_delete' post.id %}">Delete Post</a>

    <hr>
    <h3>Comments</h3>
    <form method="post" action=".">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for comment in comments %}
        <p class="font-weight-bold">
            {{ comment.user.username }}
            <span class="text-muted font-weight-normal">
                {{ comment.created_on }}
            </span>
        </p>
        {{ comment.content | linebreaks }}
        <a href="{% url 'comment_delete' comment.id %}">Delete comment</a>
    {% endfor %}
{% endblock content %}